body {
    width: 100%;
    height: calc(100vh - 68px);
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    overflow: hidden;
}
nav {
    display: flex;
    flex-direction: row;
    height: 66px;
    box-shadow: 0 2px 1px 0 rgba(49, 55, 65, 0.6);
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 10;
    margin-bottom: 2px;
    background-color: #ea633a;
}
h1 {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.logo {
    max-height: 58px;
    width: 33%;
    max-width: 58px;
}
@media screen and (min-width: 992px) {
    .logo {
        width: 25%;
    }
}
.logo-container {
    background: #ffffff;
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.twitter-account {
    color: #fff;
    font-size: 18px;
}
#map {
    width: 100%;
    height: 100%;
}
.jsc-popup-container {
    width: 200px;
    font-size: 21px;
}
.jsc-popup-container .leaflet-popup-content-wrapper, .jsc-popup-container .leaflet-popup-tip {
    background-color: #79b3af;
    color: white
}


.jsc-popup-container a.leaflet-popup-close-button {
    color: #fff
}

.jsc-popup {
    display: flex;
    flex-direction: column;
}

.jsc-popup img {
    width: 80px;
    align-self: center;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
    padding: 10px;
    padding-top: 5px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}